<h3>Inventory</h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Expires</th>
      <th>Stock Code</th>
      <th>Delete Item</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td>$<%= Money.us_dollar(item.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= item.expires %></td>
      <td><%= item.stock_code %></td>
      <td><%= link_to (image_tag("trash.jpg", height: '22', width: '20')), item, method: :delete, data: { confirm: "Are you sure you want to delete #{item.name}?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
