<p> <%= flash[:error] %> </p>

<div class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <%= render 'category' %>
</div>

<hr>

<div class-"row">
  <%= render 'search' %>
</div>

<div class="row table">
  <%= render 'table' %>
</div>
